{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <ul>
        <li v-for='recipe in recipes' :key='recipe.id'>
            <a v-bind:href='recipe.view_link'>{[ recipe.name ]}</a>
        </li>
    </ul>
    <a class="waves-effect waves-light btn" href="{{ url_for('new_recipe') }}"><strong>Add New</strong></a>
{% endblock %}

{% block app_data %}
    recipes: [
        {% for recipe in recipes %}
        {
            id: {{ recipe.id }},
            name: "{{ recipe.name }}",
            view_link: "{{ url_for('show_recipe', recipe_id=recipe.id) }}"
        },
        {% endfor %}
    ]
{% endblock %}
