{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div v-for='recipe in recipes' :key='recipe.id'>
        <a v-bind:href='recipe.view_link'>{[ recipe.name ]}</a>
    </div>
    <a class="button" href="{{ url_for('new_recipe') }}">Add New Recipe</a>
{% endblock %}

{% block app_data %}
    recipes: [
        {% for recipe in recipes %}
        {
            id: {{ recipe.id_ }},
            name: "{{ recipe.name }}",
            view_link: "{{ url_for('show_recipe', recipe_id=recipe.id_) }}"
        },
        {% endfor %}
    ]
{% endblock %}
