{% extends '_base.html' %}

{% block title %}Edit{% endblock %}

{% block navbar %}
    <a href="{{ url_for('home') }}"><strong>Back</strong></a>
{% endblock %}

{% block content %}
<input class="small-6 cell" v-model='name' type="text" placeholder="Recipe name" />
<input class="small-6 cell" v-model='source' type="text" placeholder="Source" />

<div>
    Ingredients
    <table>
        <tr>
            <th>Amount</th>
            <th>Unit</th>
            <th>Name</th>
            <th>Preparation (optional)</th>
        </tr>
        <tr v-for='(ingredient, index) in ingredients'>
            <td>
                <input v-model='ingredient.amount' ref="amountInput" type="text" placeholder="1" @keyup.enter='addIngredient(index)' />
            </td>
            <td>
                <input v-model='ingredient.unit' type="text" placeholder="cup" @keyup.enter='addIngredient(index)' />
            </td>
            <td>
                <input v-model='ingredient.name' type="text" placeholder="flour" @keyup.enter='addIngredient(index)' />
            </td>
            <td>
                <input v-model='ingredient.preparation' type="text" placeholder="chopped" @keyup.enter='addIngredient(index)' />
            </td>
            <td>
                <template v-if='ingredients.length > 1'>
                    <a href="#" @click='removeIngredient(index)'>&times;</a>
                </template>
            </td>
        </tr>
    </table>
    <button class="button" @click='addIngredient'>Add Ingredient</button>
</div>

<div>
    Steps
    <ol>
        <li v-for='(step, index) in steps'>
            <div class="grid-x grid-margin-x">
                <textarea ref='stepText' class="cell auto" v-model='step.description' @keydown.enter.prevent.stop='' @keyup.enter='addStep(index)' ></textarea>
                <template v-if='steps.length > 1'>
                    <a class="cell small-1" href="#" @click='removeStep(index)'>&times;</a>
                </template>
            </div>
        </li>
    </ol>
    <button class="button" @click='addStep'>Add Step</button>
</div>


<section class="tag-cloud-section">
    <h5>Tags</h5>
    <div class='input-group'>
        <span class='input-group-label'>New tag</span>
        <input class='input-group-field' type='text' ref='tagTextInput' @keyup.enter='addNewTag'>
        <div class='input-group-button'>
            <button type='submit' class='button' @click='addNewTag'>Add</button>
        </div>
    </div>
    <div class="tag-cloud">
        <span class="tag-cloud-individual-tag" v-for='(tag, index) in tags'>
            {[ tag ]}
            <a href="#" @click.prevent='removeTag(index)'>&times;</a>
        </span>
    </div>
</section>

<hr>
<button class="success button" @click='saveRecipe' :disabled='isSaving'>
    <template v-if='isSaving'>Saving...</template>
    <template v-else>Save Recipe</template>
</button>

<div class="reveal" id="modal" data-reveal>
    <h1 class="title"></h1>
    <p class="message"></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}

{% block pre_app_script %}
    var ingredient_template = {
        amount: null,
        unit: '',
        name: '',
        preparation: ''
    };
    var step_template = {
        description: ''
    };
    var $modal = $('#modal');
{% endblock %}

{% block app_data %}
    modal_title: 'bob',
    recipe_id: {{ recipe.id_ if recipe else 0 }},
    name: '{{ recipe.name if recipe else '' }}',
    source: '{{ recipe.source if recipe and recipe.source else '' }}',
    ingredients: [
        {% if recipe %}
            {% for ingredient in recipe.ingredients %}
                {
                    amount: "{{ ingredient.amount }}",
                    unit: "{{ ingredient.unit or 'null' }}",
                    name: "{{ ingredient.name }}",
                    preparation: "{{ ingredient.preparation or '' }}"
                },
            {% endfor %}
        {% else %}
            Object.assign({}, ingredient_template)
        {% endif %}
    ],
    steps: [
        {% if recipe %}
            {% for step in recipe.steps %}
                {
                    description: "{{ step }}"
                },
            {% endfor %}
        {% else %}
            Object.assign({}, step_template)
        {% endif %}
    ],
    tags: [],
    isSaving: false
{% endblock %}

{% block app_methods %}
    addIngredient: function(afterIndex) {
        this.addNewListItem(afterIndex, ingredient_template, this.ingredients, this.$refs.amountInput);
    },
    removeIngredient: function(index) {
        this.ingredients.splice(index, 1);
    },
    addStep: function(afterIndex) {
        this.addNewListItem(afterIndex, step_template, this.steps, this.$refs.stepText);
        return false;
    },
    removeStep: function(index) {
        this.steps.splice(index, 1);
    },
    addNewListItem(afterIndex, template, itemList, refsList) {
        var newItem = Object.assign({}, template),
            newIndex = null;
        if (Number.isInteger(afterIndex)) {
            newIndex = afterIndex + 1;
        } else {
            newIndex = itemList.length;
        }
        itemList.splice(newIndex, 0, newItem);
        setTimeout(() => refsList[newIndex].focus(), 1);  // Waiting until element is incorporated into Vue
    },
    addNewTag: function() {
        this.tags.push(this.$refs.tagTextInput.value);
        this.$refs.tagTextInput.value = '';
    },
    removeTag: function(index) {
        this.tags.splice(index, 1);
    },
    saveRecipe: function() {
        this.isSaving = true;
        axios.post(
            "{{ url_for("save_recipe") }}",
            {
                recipe_id: this.recipe_id,
                name: this.name,
                source: this.source,
                ingredients: this.ingredients,
                steps: this.steps.map(step => step.description),
                tags: this.tags
            }
        ).then((response) => {
            $modal.find('.title').text('Success!');
            $modal.find('.message').text('Recipe "' + this.name + '" saved.');
            $modal.foundation('open');

            setTimeout(() => window.location.href = response.data, 1000);
        }).catch(() => {
            $modal.find('.title').text('Error');
            $modal.find('.message').text('Something went wrong, please try again.');
            $modal.foundation('open');
        }).finally(() => this.isSaving = false);
    }
{% endblock %}
