{% extends '_base.html' %}

{% block title %}Edit{% endblock %}

{% block navbar %}
    <a href="{{ url_for('home') }}"><strong>Back</strong></a>
{% endblock %}

{% block content %}
<input class="small-6 cell" v-model='name' type="text" placeholder="Recipe name" />
<input class="small-6 cell" v-model='source' type="text" placeholder="Source" />

<div>
    Ingredients
    <table>
        <tr>
            <th>Amount</th>
            <th>Unit</th>
            <th>Name</th>
            <th>Preparation (optional)</th>
        </tr>
        <tr v-for='(ingredient, index) in ingredients'>
            <td>
                <input v-model='ingredient.amount' type="text" placeholder="1" />
            </td>
            <td>
                <input v-model='ingredient.unit' type="text" placeholder="cup" />
            </td>
            <td>
                <input v-model='ingredient.name' type="text" placeholder="flour" />
            </td>
            <td>
                <input v-model='ingredient.preparation' type="text" placeholder="chopped" />
            </td>
            <td>
                <template v-if='ingredients.length > 1'>
                    <a href="#" @click='removeIngredient(index)'>&times;</a>
                </template>
            </td>
        </tr>
    </table>
    <button class="button" @click='addIngredient'>Add Ingredient</button>
</div>

<div>
    Steps
    <ol>
        <li v-for='(step, index) in steps'>
            <div class="grid-x grid-margin-x">
                <textarea class="cell auto" v-model='step.description'></textarea>
                <template v-if='steps.length > 1'>
                    <a class="cell small-1" href="#" @click='removeStep(index)'>&times;</a>
                </template>
            </div>
        </li>
    </ol>
    <button class="button" @click='addStep'>Add Step</button>
</div>
<hr>
<button class="success button" @click='saveRecipe' :disabled='isSaving'>
    <template v-if='isSaving'>Saving...</template>
    <template v-else>Save Recipe</template>
</button>

<div class="reveal" id="modal" data-reveal>
    <h1 class="title"></h1>
    <p class="message"></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}

{% block pre_app_script %}
    var ingredient_template = {
        amount: null,
        unit: '',
        name: '',
        preparation: ''
    };
    var step_template = {
        description: ''
    };
    var $modal = $('#modal');
{% endblock %}

{% block app_data %}
    modal_title: 'bob',
    recipe_id: {{ recipe.id_ if recipe else 0 }},
    name: '{{ recipe.name if recipe else '' }}',
    source: '{{ recipe.source if recipe and recipe.source else '' }}',
    ingredients: [
        {% if recipe %}
            {% for ingredient in recipe.ingredients %}
                {
                    amount: "{{ ingredient.amount }}",
                    unit: "{{ ingredient.unit or 'null' }}",
                    name: "{{ ingredient.name }}",
                    preparation: "{{ ingredient.preparation or '' }}"
                },
            {% endfor %}
        {% else %}
            Object.assign({}, ingredient_template)
        {% endif %}
    ],
    steps: [
        {% if recipe %}
            {% for step in recipe.steps %}
                {
                    description: "{{ step }}"
                },
            {% endfor %}
        {% else %}
            Object.assign({}, step_template)
        {% endif %}
    ],
    isSaving: false
{% endblock %}

{% block app_methods %}
    addIngredient: function() {
        this.ingredients.push(Object.assign({}, ingredient_template));
    },
    removeIngredient: function(index) {
        this.ingredients.splice(index, 1);
    },
    addStep: function() {
        this.steps.push(Object.assign({}, step_template))
    },
    removeStep: function(index) {
        this.steps.splice(index, 1);
    },
    saveRecipe: function() {
        this.isSaving = true;
        axios.post(
            "{{ url_for("save_recipe") }}",
            {
                recipe_id: this.recipe_id,
                name: this.name,
                source: this.source,
                ingredients: this.ingredients,
                steps: this.steps.map(step => step.description)
            }
        ).then((response) => {
            $modal.find('.title').text('Success!');
            $modal.find('.message').text('Recipe "' + this.name + '" saved.');
            $modal.foundation('open');

            setTimeout(() => window.location.href = response.data, 1000);
        }).catch(() => {
            $modal.find('.title').text('Error');
            $modal.find('.message').text('Something went wrong, please try again.');
            $modal.foundation('open');
        }).finally(() => this.isSaving = false);
    }
{% endblock %}
